@charset "utf-8";

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
    list-style: none;   
  }
  a{
    text-decoration: none;
  }
img{
  vertical-align: bottom;
  max-width: 100%;
}

/* 共通部分 */
header{
  padding: 40px 0;
}
h1{
  text-align: center;  
  font-family: "Noto Sans JP", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
.g-nav{
  width: 100%;
  height: 50px;
  background-color: #592C63;
  }
  .g-nav>ul{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
.g-nav li{
  width: 20%; 
}
.g-nav a{
  color: #FFFFFF;
  display: block;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #FFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}
.g-nav li:last-of-type>a{
  border-right: 1px solid #FFF;
}
.g-nav a:hover{
  background-color:#BEC23F;
}

footer{
  width: 100%;
  height: 100px;
  background-color:#592C63;
}
footer>p{
  text-align: center;
  color: #FFFFFF;
  line-height: 100px;
}
main{
  max-width: 960px ;
  margin: 50px auto 100px;
}

/* トップページ部分 */
.main-visual{
  aspect-ratio: 2/1;/* 横/縦の比率 */
  margin-bottom: 100px;
}
.main-visual>img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.main-copy>h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Noto Sans JP", sans-serif;
}
.main-copy>p{
  max-width: 600px;
  margin: 0 auto;
  line-height: 2;
}

/* 季節ページ部分 */
.wrapper{
  display: flex;
  gap: 0 40px;
  flex-direction: row-reverse;
}
.text-box{
  width: calc(100% - 62.5% - 40px);
}
.text-box>h2{
  margin-bottom: 20px;
  font-size: 26px;
}
.text-box>p{
  line-height: 1.75;
}
.img-box{
  width: 62.5%;
}

/* 各季節ページの部分 */
.spring>.g-nav{
  background-color:#D05A6E ;
}
.spring>footer{
  background-color: #D05A6E;
}
.summer>.g-nav{
  background-color: #5DAC81;
}
.summer>footer{
  background-color:#5DAC81 ;
}
.fall>.g-nav{
  background-color: #6A4028;
}
.fall>footer{
  background-color:#6A4028;
}
.winter>.g-nav{
  background-color: #261E47;
}
.winter>footer{
  background-color: #261E47;
}


/* カレントの指定 */
.current>a{
  background-color:#bec23F ;
}




/* 960px以下 */
@media (max-width:960px){
  main{
    padding: 0 10px;
  }
}
/* 767px以下 */
@media(max-width:767px){
  header{
    padding: 20px 0;
  }
    h1{
      font-size: 32px;
    }
    .g-nav a{
      font-size: 14px;
    }
  }

  .main-visual{
    aspect-ratio: 1/0.8;
    margin-bottom: 60px;
  }
  .wrapper{
    flex-direction: column-reverse;
    gap: 80px 0 }
  .text-box{
    width: 100%;
  }
 .img-box{
  width: 100%;
  text-align: center;
 }


  

